@model IEnumerable<GroomingSalonWebsite.Models.About>

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aboutText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aboutText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.aboutId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.aboutId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.aboutId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
