@*Collects direct message information for the database*@
@model IEnumerable<ContactUs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Add New Message</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hearabout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (ContactUs cm in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cm.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cm.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cm.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cm.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cm.hearabout)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@cm.messageId">Update</a> |
                <a asp-action="Details" asp-route-id="@cm.messageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@cm.messageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
