@*Allows user to retrieve and update their appointment information by entering the phone number associated with their account*@
@model GroomingSalonWebsite.Models.Reschedule

@{
    ViewData["Title"] = "Reschedule";
}
<body>
    <div id="container">
        <div class="text-center">
            <h1 class="display-4">Need to make a change?</h1>   
            <p>Reschedule, update, or cancel your appointment</p>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Reschedule">
            
                    <div class="form-group">
                        <label asp-for="Appointment.ApptPhoneNumber" class="control-label">Phone number</label>
                        <input asp-for="Appointment.ApptPhoneNumber" class="form-control" />
                        <span asp-validation-for="Appointment.ApptPhoneNumber" class="text-danger"></span>               
                    </div>

                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>

        <div class="text-center">
            @*  The appointment information should appear here if an appointment is found.
                If there is no appointment found, display "No appointment found for this phone number."
            *@
            @if (TempData["ApptDate"] == null)
            {
                <p>Appointment information placeholder</p>
            }
            else
            {
                <h3>Your appointment is currently scheduled for</h3>
                <p>@TempData["ApptDate"]</p>
            }
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Reschedule">      
                    @*Buttons disabled until appointment information has been found*@
                    <div>
                        @if (TempData["ApptDate"] == null)
                        {
                            <button type="button" name="Resched" class="btn btn-info disabled">Reschedule</button>
                            <button type="button" name="Update" class="btn btn-secondary disabled">Update</button>
                            <button type="button" name="Cancel" class="btn btn-danger disabled">Cancel</button>
                        }
                        else
                        {
                            <button type="button" name="Resched" onclick="@("window.location.href='" + @Url.Action("RescheduleResched", "Reschedule") + "'");" class="btn btn-info">Reschedule</button>
                            <button type="button" name="Update" onclick="@("window.location.href='" + @Url.Action("RescheduleUpdate", "Reschedule") + "'");" class="btn btn-secondary">Update</button>
                            <button type="button" name="Cancel" onclick="@("window.location.href='" + @Url.Action("RescheduleCancel", "Reschedule") + "'");" class="btn btn-danger">Cancel</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>




